.verseNbr{
  font-size:60%;
  font-weight: normal;
  display:inline-block;
  vertical-align: text-top;

}

.x-pe{
  padding-right:20px;
}

span.x-pe::after{
  content: "\A";
  white-space: pre;
}

.x-samekh{
  padding-right:10px;
  padding-left:10px;
}

@font-face {
  font-family: "Ezra SIL Regular"; 
  src: url("../Fonts/SILEOT.ttf");
}

body {
  font-family: "Ezra SIL Regular"; 
  text-align: right;
  text-justify: none;
}
